[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
X-KDE-Submenu=Powertools
MimeType=text/x-ssa;
Actions=assa;
Encoding=UTF-8

[Desktop Action assa]
Name=Convert to SRT
Exec=~/bin/ffass2srt %U
